<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wxm.demo.user.dao.RoleDao" >
    <resultMap id="BaseResultMap" type="com.wxm.demo.user.entity.RoleDO" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="create_time" property="create_time" jdbcType="TIMESTAMP" />
        <result column="update_time" property="update_time" jdbcType="TIMESTAMP" />
        <result column="del_flag" property="del_flag" jdbcType="INTEGER" />
    </resultMap>

    <sql id="Base_Column_List" >
        id, name, create_time, update_time, del_flag
    </sql>

    <select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        select
        <include refid="Base_Column_List" />
        from sys_role
        where id = #{id}
    </select>

    <select id="all" resultMap="BaseResultMap" >
        select
        <include refid="Base_Column_List" />
        from sys_role
    </select>

    <delete id="deleteById" parameterType="java.lang.Integer" >
        delete from sys_role
        where id = #{id}
    </delete>

    <insert id="insert" parameterType="com.wxm.demo.user.entity.RoleDO" >
        insert into sys_role (name, del_flag)
        values (#{name}, #{del_flag})
    </insert>

    <update id="updateById" parameterType="com.wxm.demo.user.entity.RoleDO" >
        update sys_role
        <set >
            <if test="name != null" >
                name = #{name},
            </if>
            <if test="update_time != null" >
                update_time = #{update_time},
            </if>
            <if test="del_flag != null" >
                del_flag = #{del_flag},
            </if>
        </set>
        where id = #{id}
    </update>
</mapper>